html,body{
    height: 100%;
}
#box{
    height: 100%;
    background: #ccc;
    .header{
        height: 280px;
        background: #fff;
        .f-header{
            text-align: center;
            line-height: 225px;
            border-bottom: 1px solid #ebebeb;
        }
        @media (min-width:0px) and (max-width:750px){
           .s-header{
               text-align: center;
            ul{
                display: none;
            }
        }}
        @media (min-width:751px){
            .s-header{
                display: flex;
                justify-content: center;
            ul{
                width: 480px;
                display: flex;
                justify-content: space-around;
                align-items: center;
                li{
                line-height: 55px;                    
                }
                li:hover{
                    color:orangered;
                    cursor: pointer;
                }

            }
            img{
                display: none
            }
        }}
    }
    @media (min-width:0px) and (max-width:900px){
        .main{
            width:100%;
            background: #ccc;
            .article{
                width: 100%;
                background: #fff;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                .f-article{
                    height: 400px;
                    margin-top:30px;
                    h2{
                        font-size: 40px;
                        line-height: 40px;
                        margin-top: 25px;
                        text-align: center;
                    }
                    .p1{
                        font-size: 16px;
                        line-height: 46px;
                        text-align: center;
                    }
                    .p2{
                        padding:10px 0px;
                    }
                    span{
                        display: inline-block;
                        padding: 5px 10px;
                        background: orange;
                        color: #fff;
                    }
                }
            }
            .aside{
                width: 100%;
                .introduct{
                    margin-top: 20px;
                    background: #fff;
                    height: 100px;
                    h3{
                        font-size: 18px;
                        border-bottom: 1px solid #656;
                        line-height: 30px;
                    }
                    p{
                        font-size: 14px;
                        line-height: 50px;
                        color: #666
                    }
                }
                .download{
                    margin-top: 20px;
                    background: #fff;
                    height: 100px;
                    h3{
                        font-size: 18px;
                        border-bottom: 1px solid #656;
                        line-height: 30px;
                    }
                    span{
                        display: inline-block;
                        padding: 10px 150px;
                        background: orange;
                        text-align: center;
                        color: #fff;
                        margin-top: 10px;
                        margin-left: 30px;
                    }
                }
                .mark{
                    margin-top: 20px;
                    background: #fff;
                    height: 100px;
                    h3{
                        font-size: 18px;
                        border-bottom: 1px solid #656;
                        line-height: 30px;
                    }   
                    ul{
                        display: flex;
                        justify-content: space-around;
                        align-content: center;
                        flex-wrap: wrap;
                        li{
                            height: 20px;
                            font-size: 15px;
                            color: #666;
                            border: 1px solid #ebebeb;
                            margin: 5px 7px;
                        }
                    }
                 }
            }
        }
    }
    @media (min-width:901px) and (max-width:1200px){
        .main{
            width:100%;
            background: #ccc;
            display: flex;
            .article{
                width: 60%;
                background: #fff;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                margin-top: 20px;
                .f-article{
                    height: 400px;
                    margin-top:30px;
                    h2{
                        font-size: 40px;
                        line-height: 40px;
                        margin-top: 25px;
                        text-align: center;
                    }
                    .p1{
                        font-size: 16px;
                        line-height: 46px;
                        text-align: center;
                    }
                    .p2{
                        padding:10px 0px;
                    }
                    span{
                        display: inline-block;
                        padding: 5px 10px;
                        background: orange;
                        color: #fff;
                    }
                }
            }
            .aside{
                width: 30%;
                margin-left: 20px;
                background: #ccc;
                .introduct{
                    margin-top: 20px;
                    background: #fff;
                    height: 100px;
                    h3{
                        font-size: 18px;
                        border-bottom: 1px solid #656;
                        line-height: 30px;
                    }
                    p{
                        font-size: 14px;
                        line-height: 50px;
                        color: #666
                    }
                }
                .download{
                    margin-top: 20px;
                    background: #fff;
                    height: 100px;
                    h3{
                        font-size: 18px;
                        border-bottom: 1px solid #656;
                        line-height: 30px;
                    }
                    span{
                        display: inline-block;
                        padding: 10px 100px;
                        background: orange;
                        text-align: center;
                        color: #fff;
                        margin-top: 10px;
                        margin-left: 30px;
                    }
                }
                .mark{
                    margin-top: 20px;
                    background: #fff;
                    height: 200px;
                    h3{
                        font-size: 18px;
                        border-bottom: 1px solid #656;
                        line-height: 30px;
                    }   
                    ul{
                        display: flex;
                        justify-content: space-around;
                        align-content: center;
                        flex-wrap: wrap;
                        li{
                            height: 20px;
                            font-size: 15px;
                            color: #666;
                            border: 1px solid #ebebeb;
                            margin: 5px 7px;
                        }
                    }
                 }
            }
        }
    }
}